body {
    color: gray
}

.estiloBorde {
    border-style: solid;
    margin-bottom: 100px;
    margin-top: 50px;
    margin-left: 100px;
    margin-right: 1500px;
    
}

#titulo1 {
    border-color: brown;
    padding: 25px;
    
}
#titulo2 {
    border-color: green;
    padding: 25px;
}
#titulo3 {
    border-color: blue;
    padding: 25px;
    margin-top: 100px;
    margin-bottom: 100px;

}
#parrafo1{
    border-style: solid;
    margin-bottom: 100px;
    margin-top: 50px;
    margin-left: 100px;
    margin-right: 1500px;
    text-align: center;
}
#parrafo2{
    border-style: solid;
    border-color: chartreuse;
    margin-bottom: 100px;
    margin-top: 50px;
    margin-left: 100px;
    margin-right: 1500px;
    text-align: center;
} 

/*# parrafo2 { 
    color: blue;
    font-style: normal*/

/* .estiloGeneral {
    color: yellow
