body {
    color: gray
}

.estiloBorde {
    border-style: solid;
    margin-bottom: 25px;
    margin-top: 50px;
    margin-left: 100px;
    margin-right: 1500px;
    text-align: center;
    
}

#titulo1 {
    border-color: rgb(252, 3, 3);
    padding: 25px;
    
}
#titulo2 {
    border-color: green;
    padding: 25px;
}
#titulo3 {
    border-color: blue;
    padding: 25px;
    margin-top: 50px;
    margin-bottom: 100px;

}
#parrafo1{
    width: 300px;
    border-style: solid;
    margin-bottom: 100px;
    margin-top: 50px;
    margin-left: 500px;
    text-align: justify;
   
    
}
#parrafo2{
    
    border-color: chartreuse;
    margin-bottom: 100px;
    margin-top: 50px;
    margin-left: 100px;
    margin-right: 1500px;
    text-align: center;
} 
#tt{
    border-style: solid;
    border-block-style: center;
    width: 300px;
    text-align: center;
    margin-left: 500px;
   

}
/*#dPersonal{
    border-style: solid;

    
   
}

/*.dPerosnal{
    border-style: solid;
    margin-bottom: 25px;
    margin-top: 50px;
    margin-left: 100px;
    margin-right: 1500px;

}
/*# parrafo2 { 
    color: blue;
    font-style: normal*/

/* .estiloGeneral {
    color: yellow
